/target
/output
/src/extern/__pycache__
.vscode
/data/pch
/testsuites/test.h.pch
/testsuites/*.png
/testsuites/*.json
/asan
/data/cJSON/include
/data/cJSON/lib
/data/cJSON/src
/data/cJSON/corpus
/data/libaom/include
/data/libaom/lib
/data/libaom/src
/data/libaom/corpus
/data/pch
/data/libvpx/src
/data/libvpx/lib
/data/libvpx/include
/data/libvpx/corpus
/data/libvpx/out
/data/libvpx/work
.keypool
/benchmark/
